.parentBox {
  display: flex;
  flex-direction: row;
  flex-flow: column wrap;
  position:absolute;
  justify-content: center;
  align-items: center;
  width: 75%;
  padding: 12%;
}

.searchForm {
  margin-bottom: 3.5vh;
  display:inline-flex;
  width: 50%;
}

.formButton {
  align-self: center;
  margin-top: .75vw;
  width: 6vw;
  height: 2vw;
}

.card {
  display: flex;
  flex-shrink: 3;
  color: black;
  justify-content: space-evenly;
  align-content: center;
  position:relative;
}
.cardImg {
  height: 18vh;
  display: block;
  align-self: flex-start;
}

.cardHeader {
  display: block;
  color: black;
  font-size: 1.5vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.cardBody {
  display: block;
  height: 3vh;
  align-self: center;
  margin: .25vw;

}

.cardText {
  font-size: 1.25vh;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.cardFoot {
  height: 1vh;
  align-self: flex-end;
  justify-content: left;
}

.heartButton {
  position:absolute;
  bottom:0;
  right:0;
}

.Pagination {
  margin: 2vw;
}