/* Issue, will not implement the styles into the settings page after importing. */

/* .setTitle{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 20px;
  margin-top: 10px;
  line-height: 1.15;
  font-size: 4rem;
  color: black;
}

.setArc{
  background-color: #596365;
  width: 100%;
}

.setAdd{
 
  margin-top: 100px;
}

.toolbarSet{
  list-style-type: none;
  text-decoration: none;
  text-shadow: #111;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2.5rem;
  /* display: inline; */
  /* text-transform: normal;
	line-height: 1.3em;
	color: #596365;
  text-align: right;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 200px;
  margin-top: 0px;
} */
